@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap");
body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #6fd081;
  background: url("../images/grass.png") no-repeat, -webkit-gradient(linear, left bottom, left top, color-stop(7%, #6fd081), color-stop(80%, #63c8c2));
  background: url("../images/grass.png") no-repeat, linear-gradient(0deg, #6fd081 7%, #63c8c2 80%);
  background-position: bottom;
  background-size: 100% auto;
  font-family: 'Poppins';
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, p {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  margin-bottom: 4em;
  text-align: center;
  color: white;
}

.title h1 {
  font-size: 5em;
}

.menu a {
  text-decoration: none;
  display: block;
  margin-bottom: .8em;
  width: 100%;
  background: none;
  border: 2px solid white;
  color: white;
  font-size: 3em;
  text-align: center;
  padding: .1em 4em;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.user-login {
  text-align: center;
}

.user-login h1 {
  color: white;
  margin-bottom: 1em;
}

.user-login .fa-users {
  font-size: 3.5em;
  color: white;
  margin-bottom: .5em;
}

.user-login .btn-login {
  display: block;
  margin-top: .5em;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  left: 45%;
  cursor: pointer;
}

.user-login .fa-check-circle {
  border-radius: 5em;
  font-size: 3em;
  color: white;
}

.user-login .fa-check-circle:hover {
  background: rgba(255, 255, 255, 0.3);
}

.username-input {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rules {
  display: block;
  border: 2px solid white;
  padding: .2em 1em;
  color: #F2F2F2;
  height: 60vh;
  overflow-y: scroll;
  border-radius: .5em;
  width: auto;
}

.rules li {
  margin-bottom: .8em;
}

.rules .rules-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em;
}

.btn-home {
  display: block;
  margin-top: .5em;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  padding: .2em .5em;
  top: 5em;
  cursor: pointer;
  text-decoration: none;
}

.btn-home .fa-home {
  border: 2px solid white;
  font-size: 2em;
  color: white;
  padding: .3em;
  border-radius: 5em;
}

.btn-home .fa-home:hover {
  background: rgba(255, 255, 255, 0.3);
}

.about {
  border: 2px solid white;
  border-radius: .5em;
  color: #F2F2F2;
  padding: .2em 1em;
}

.about h1 {
  margin-bottom: 1em;
  font-size: 2em;
  text-align: center;
}

.about p {
  font-size: 1.3em;
  margin-bottom: .5em;
}

table.board_table, table.board_table th, table.board_table td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  height: 60vh;
  width: 30vw;
}

table td {
  text-align: center;
  width: 8vw;
  height: 14vh;
}

table img {
  height: auto;
  max-width: 90px;
  padding: .8em .1em;
}

caption {
  color: white;
  font-size: 1.5em;
}

.play-container {
  height: 100vh;
  overflow-y: auto;
}

.play-container p {
  color: white;
  padding-left: 1.5em;
  width: auto;
}

.play-container h1 {
  margin-top: .8em;
  color: white;
  font-size: 1.8em;
  padding-left: .8em;
  width: auto;
}

.play-container h1 .arrow {
  padding-left: .8em;
  marging: 0;
}

.flexbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.board_table, .pieces_table {
  position: relative;
  top: 5vh;
  left: 15vh;
}

.board_table td:hover, .pieces_table td:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.selectedPiece {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
}

@media only screen and (max-width: 1470px) {
  .flexbox-container {
    gap: 10em;
  }
}

@media only screen and (max-width: 1290px) {
  .flexbox-container {
    gap: 8em;
  }
}

@media only screen and (max-width: 1200px) {
  .flexbox-container {
    gap: 6em;
  }
  .flexbox-container table {
    height: 40vh;
    width: 45vh;
  }
}

@media only screen and (max-width: 1070px) {
  .flexbox-container {
    gap: 2em;
  }
  .flexbox-container table {
    height: 35vh;
    width: 40vh;
  }
}

@media only screen and (max-width: 1200px) {
  .rules {
    width: 60vw;
    height: 60vh;
  }
}

@media only screen and (max-width: 900px) {
  .flexbox-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .rules {
    width: 85vw;
    height: 80vh;
  }
  .rules .rules-title {
    margin-bottom: .8em;
  }
  .btn-home {
    top: 1em;
  }
}

@media only screen and (max-width: 530px) {
  .board_table, .pieces_table {
    left: 1em;
  }
}

@media only screen and (max-width: 375px) {
  .board_table, .pieces_table {
    left: .3em;
  }
  .board_table img, .pieces_table img {
    height: auto;
    max-width: 80px;
  }
}
/*# sourceMappingURL=main.css.map */